<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Groceries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Groceries</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of groceryList">
      <ion-label>{{ item.title }}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editItem(selectedGrocery)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="confirmDelete(selectedGrocery)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddPopup()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="light" (click)="editItem(selectedGrocery)">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" (click)="confirmDelete(selectedGrocery)">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
